In [1]:
#
# libraries
#
import pandas as pd

In [4]:
#
# read raw data
#
data = pd.read_csv('..\\datasets\\thyroid.tsv')
data.head()

   ��a
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

In [5]:
#
# correct encoding
#
data = pd.read_csv('..\\datasets\\thyroid.tsv', 
                  encoding = 'utf_16_le')
data

     age\tsex\ton_thyroxine\tquery_on_thyroxine\ton_antithyroid_medication\tsick\tpregnant\tthyroid_surgery\tI131_treatment\tquery_hypothyroid\tquery_hyperthyroid\tlithium\tgoitre\ttumor\thypopituitary\tpsych\tTSH_measured\tTSH\tT3_measured\tT3\tTT4_measured\tTT4\tT4U_measured\tT4U\tFTI_measured\tFTI\tTBG_measured\tTBG\treferral_source\tresult\tvalue
0     41\tF\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...
1     23\tF\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...
2     46\tM\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...
3     70\tF\tt\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...
4     70\tF\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...
...                                                 ...
2795  70\tM\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...
2796  73\tM\tf\tt\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...
2797  75\tM\tf\tf\tf\tf\tf\tf\tf\tf\tt\tf\tf\tf\tf\t...
2798  60\tF\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...
2799  81\tF\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...

[2800 rows x 1 columns]

In [6]:
#
# correct separator
#
data = pd.read_csv('..\\datasets\\thyroid.tsv', 
                  encoding = 'utf_16_le', 
                  sep = '\t')
data

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,result,value
0,41,F,f,f,f,f,f,f,f,f,...,125,t,1.14,t,109,f,?,SVHC,negative.,3733
1,23,F,f,f,f,f,f,f,f,f,...,102,f,?,f,?,f,?,other,negative.,1442
2,46,M,f,f,f,f,f,f,f,f,...,109,t,0.91,t,120,f,?,other,negative.,2965
3,70,F,t,f,f,f,f,f,f,f,...,175,f,?,f,?,f,?,other,negative.,806
4,70,F,f,f,f,f,f,f,f,f,...,61,t,0.87,t,70,f,?,SVI,negative.,2807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,70,M,f,f,f,f,f,f,f,f,...,155,t,1.05,t,148,f,?,SVI,negative.,3689
2796,73,M,f,t,f,f,f,f,f,f,...,63,t,0.88,t,72,f,?,other,negative.,3652
2797,75,M,f,f,f,f,f,f,f,f,...,147,t,0.8,t,183,f,?,other,negative.,1287
2798,60,F,f,f,f,f,f,f,f,f,...,100,t,0.83,t,121,f,?,other,negative.,3496
2799,81,F,f,f,f,f,f,f,f,f,...,114,t,0.99,t,115,f,?,SVI,negative.,724